<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <!-- Permisos de la camara  -->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31">

        <!-- Clave API de Google Maps fue obtenida de console cloud google -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgpAn99zAedt6J7vH3ZP8fMzyHc8Niao0" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Cámara para ser llamado -->
        <activity android:name=".CameraActivity" android:exported="false" />

        <!-- Activity de Ubicación para ser llamado -->

        <activity android:name=".LocationActivity" android:exported="false" />

    </application>
</manifest>
